#question {
    font-size: 26px;
}

.text-size-24 {
    font-size: 24px;
}

.text-size-20 {
    font-size: 20px;
}

.bg-milk {
    background-color: #e8eadc;
}

.text-milk {
    color: #e8eadc;
}

.bg-fog {
    background-color: #a2a1a1;
}

.bg-clay {
    background-color: #af4a35;
}

.bg-brick {
    background-color: #987c7c;
}

.btn {
    font-size: 20px;
}